*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    color: darkslategray;
    margin: 0;
    background-color: whitesmoke;
    display: grid;
}

nav, #menu{
    display: none;
}

.colapsable{
    max-height: 0;
    transition: max-height 1s ease-out, opacity 1s ease-out;
    overflow: hidden;
}

h1, h2{
    font-size: 2.5rem;
    margin: 0;
}

h1{
    padding: 40% 0 20px 20px;
}

h3{
    padding-top: 50px;
}

#summary h2, #education h2, #work h2{
    margin-bottom: -50px;
}

#summary{
    padding-bottom: 30px;
}

i{
    padding-right: 5px;
    color: lightseagreen;
}

button{
    position: relative;
    background: lightgray;
    border: none;
    width: 100%;
    height: 1px;
    top: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button{
    color: lightgray;
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    border: thin solid lightgray;
    font-size: 1rem;
}

#mainContainer{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    padding: 20px 20px 0 20px;
    max-width: 1400px;
    justify-self: center;
}

aside, main>div{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    box-shadow: 50px;
    padding: 50px 50px 80px 50px;
}

aside{
    width: 50%;
    padding: 0 0 20px 0;
    height: fit-content;
}

.skills h2{
    font-size: 1.5rem;
}

.skills{
    margin: 25px;
    padding: 25px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    padding: 20px 0 0 20px;
}

.skills:last-of-type{
    padding-bottom: 40px;
}

main p:nth-of-type(even){
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 30px;
    margin-bottom: -50px;
}

main div div:last-of-type p{
    border: none;
}

.points{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    width: 90%;
    padding: 20px 0 0 30px;
}

#name{
    background: no-repeat center center url("../img/pfp.jpg");
    background-size: 100%;
    align-items: end;
    display: grid;
    color: white;
}

aside p{
    padding: 5px;
}

main{
    width: auto;
    min-width: 33%;
}

.percentages{
    color: white;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.percentages p{
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.skills:last-of-type .percentages{
    color: lightseagreen;
}

footer{
    background-color: lightseagreen;
    color: white;
    height: 120px;
    text-align: center;
    display: grid;
    justify-content: center;
}

footer i{
    color: white;
}

@media (max-width: 1024px) {
    #menu{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: whitesmoke;
        background: radial-gradient(circle, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
        box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.75);
        border-radius: 10px;
        height: 50px;
        width: 100px;
        border: thin black solid;
        font-size: 2rem;
        text-align: center;
        padding: 15px 10px 10px 10px;
        margin: 10px;
    }
    nav{
        background-color: rgba(32, 178, 171, 0.95);
        display: grid;
        position: fixed;
        height: 90vh;
        width: 66%;
        max-width: 350px;
        right: -100%;
        top: 0;
        z-index: 10;
        border-left: thin black solid;
        padding-bottom: 50%;
        transition: right 0.5s ease-out;
        align-content: space-between;
    }
    nav div{
        display: grid;
        height: 40%;
        margin-top: 40px;
    }
    a{
        font-size: 1rem;
        color: whitesmoke;
        text-decoration: none;
        padding-top: 12px;
        padding-left: 50px;
    }
    nav i{
        color: white;
    }
    #social{
        display: flex;
        position: absolute;
        top: 85vh;
        width: 100%;
        justify-content: center;
    }
    #social a{
        padding: 0;
    }
    aside{
        width: 100%;
    }
    #work div, #education div{
        padding: 0;
    }
    .points{
        width: 100%;
        display: flex;
        padding: 20px 0;
        margin-bottom: -25px;
        background-color: whitesmoke;
    }
    #mainContainer{
        display: inline;
        padding: 0;
    }
    aside, main>div{
        box-shadow: none;
        margin-bottom: 0;
        box-shadow: none;
        padding: 0;
    }
    main div{
        padding: 30px;
        padding-bottom: 80px;
    }
    main>div:nth-of-type(odd), .skills{
        background-color: whitesmoke;
    }
    .skills{
        background-color: white;
    }
    .skills:last-of-type{
        padding-bottom: 80px;
    }
    .button{
        padding: 0;
    }
}